<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title" style="text-align:left;">{{modalParam.title}}</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Product Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="modalParam.name" maxlength="50" placeholder="Product Name">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Price ( US Dollar )</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="modalParam.price" maxlength="30" placeholder="Price ( Dollar USD )">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Image URL</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="modalParam.imageurl" placeholder="Image URL">
                </div>
            </div>
        </div>
        <br>

    </div>
    <div class="modal-footer" style="border-top:none;">
        <button class="btn btn-primary" ng-click="close()">Tutup</button>
        <button class="btn btn-primary" ng-show="modalParam.flag == 'Add'" ng-click="addProduk(modalParam)">Create</button>
        <button class="btn btn-primary" ng-show="modalParam.flag == 'Edit'" ng-click="editProduk(modalParam)">Update</button>
    </div>
</div>