<div class="col-md-12" style="text-align: center">
    <h1>Register</h1>  
<div class="hero-unit">  
  
  <div class="form-inputs">
      <div class="col-md-12" style="padding:0px 0px 15px 0px">
          <input type="text" ng-model="name" id="name" name="name" class="form-control input-lg" placeholder="Name" required>
        </div>
    <div class="col-md-12" style="padding:0px 0px 15px 0px">
      <input type="text" ng-model="email" id="email" name="email" class="form-control input-lg" placeholder="Email" required>
    </div>
    <div class="col-md-12" style="padding:0px 0px 15px 0px">
      <input type="password" ng-model="password" id="password" name="password" class="form-control input-lg" placeholder="Password" required>
    </div>
    <button class="btn btn-danger btn-block btn-lg" id="save" type="submit" ng-click="save(name,email,password)" style="color:white">
      Register
    </button>

  </div>
 </div>  
 <div class="col-md-12" style="padding-top:10px;text-align:center">
    <p>Already have an Account ? <a ng-click="back()" style="cursor:pointer">Login</a></p>
  </div>
 </div>